.cabeçalho{
    background: powderblue;
    padding: 20px;
}

.links{
    text-decoration: none;
    font-weight: bold;
    color: darkslateblue;
}

.botões{
    text-decoration: none;
    font-weight: bold;
}

.conteúdo{
    background: #eee;
    padding: 30px;
    width: 70%;
   border-radius: 5px;
    margin: 0 auto;
}

.rodapé{
    background: powderblue;
    width: 100%;
    padding: 10px;
}

.título-conteúdo2{
    text-align: center;
}
