.caixa-formulario{
    background: #fff;
    width: 940px;
    margin: 40px auto;
    padding: 20px;
    border: solid 2px lightgray;
    border-radius: 8px;
} 
.cabecalho-formulario h1{
    font-size: 200%;
    font-weight: bold;
}
.cabecalho-formulario h2{
    font-size: 120%;
    border-bottom: lightgray solid 1px;
    padding: 8px 0;
    margin-bottom: 20px;
}
.formulario-cadastro label, legend{
    display: block;
    margin-bottom: 5px;
    font-size: 105%;
    font-weight: bold;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.plano-saude{
    margin: 20px 0 0 0;
}
.botao-enviar{
    display: block;
    margin: 25px auto;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 1S all;
}
.botao-enviar:hover{
    background: powderblue;
    transform: scale(1.1);
}