.topo{
	z-index: 3;
}
.carrossel {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}
#slider {
    width: 80%;
    max-width: 500px;
    height: 25vw;
    max-height: 200px;
    position: relative;
    float: right;
}
#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
    border: solid powderblue 15px;
    border-radius: 20px;
}
#slider img.selected { 
    opacity: 1;
}
.principal {
	position: relative;
    overflow: hidden;
	padding: 50px 80px;
}
.fundo-home{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
    filter: blur(2px);
} 
.conteudo-principal, .img-ficha{
    position: relative;
    z-index: 2;
	display: inline-block;
	vertical-align: top;
}
.conteudo-principal{
	width: 60%;
	padding: 0 3em;
}
.img-ficha{
	width: 40%;
	float: right;
}
.img-ficha img{
	width: 100%;
	filter: drop-shadow(10px 8px 6px black);
}
.titulo-principal {
	font-size: 2.5em;
    margin-bottom: 0.8em;
}
.titulo-principal em {
	font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}
.principal p {
	margin-bottom: 0.5em;
    font-size: 0.95em;
}
.principal h2 {
    font-size: 1.5em;
    text-align: center;
	margin: 0.75em 0;
}
.principal strong {
	font-weight: bold;
}
.principal em{
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}
.btn-confira {
    margin: 1em auto 0;
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.25em 3em;
    border: #1465f7 solid;
	border-radius: 20px;
    background: none;
    color: #1465f7;
    cursor: pointer;
	transition: 0.3S all;
}
.btn-confira:hover{
	background: #1465f7;
	color: aliceblue;
}
.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}